.chat-main
  .main-head
    .main-head__group
      .main-head__group-name
        =@group.name
      %ul.main-head__member-list
        member:
        %li.main-head__member
        -@group.users.each do |group|
          =group.name
        
    = link_to edit_group_path(@group) do
      .main-head__edit-btn Edit

  .main-message
    = render @messages

  .form1
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form-content
        = f.text_field :content, class: 'form-content__text', placeholder: 'type a message'
        = f.label :image, class: 'form-content__image' do
          = icon('far', 'image', class: 'form-content__icon')
          = f.file_field :image, class: 'form-content__image__file'
      = f.submit 'Send', class: 'submit-btn'